.modal-dlg {
  /*Основные настройки блока*/
  background: #CCCCCC;
  width: 350px;
  height: 150px;
  border-radius: 15px 15px;  
  /*Выравнивание блока по центру*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /*Плавность анимации при наведении на блок*/
  transition: all 1s ease-out;
  /*Выравнивание внутренних элементов блока*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.modal-dlg:hover {
  border-radius: 50px 50px;
}

.dlg-button {
  /*Основные настройки блока*/
  text-align: center;
  color: white;
  margin-top: 25px; 
  width: 100px;
  height: 100px;
  background-size: cover;
  /*Плавность анимации при наведении на блок*/  
  transition: 1s ease-out;
  transform-origin: center center;
  /*Изменение курсора*/
  cursor: pointer;
}

.ok-button {
  /*Основные настройки блока*/
  background-image: url(http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/ok-icon.png);
}

.cancel-button { 
  /*Основные настройки блока*/
  background-image: url(http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/multiply-icon.png);
}

.dlg-button:hover {
  /*Увеличение блока*/
  transform: scale(1.3);
}
